/* Fondo general con imagen */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("fondo.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor central */
.contenedor {
  display: flex;
  width: 80%;
  max-width: 900px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
}

/* Panel izquierdo */
.left {
  background: rgba(12, 185, 103, 0.9); /* verde semi-transparente encima del fondo */
  color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.left h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
}

/* Panel derecho */
.right {
  background: #fff;
  color: black;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 0 10px 10px 0;
}

.right h2 {
  margin-bottom: 20px;
  color: #0cb967;
}

/* Logo UCSM */
.logo {
  width: 260px;
  margin-bottom: 10px;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Botón */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #0cb967;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #099e56;
}

/* Bloque del correo */
.correo-info {
  margin-top: 20px;
  text-align: center;
}

.correo-logo {
  width: 200px;
  vertical-align: middle;
  margin-right: 8px;
}

/* Responsivo para celular */
@media (max-width: 767px) {
  .contenedor {
    flex-direction: column;
    width: 90%;
  }

  .left {
    width: 100%;
    max-height: 270px;
    border-radius: 10px;
  }

  .right {
    width: 100%;
    max-height: 350px;
    border-radius: 10px;
  }
}
